[package]
name = "de2fa"
version = "0.1.0"
authors = ["William Chargin <wchargin@gmail.com>"]

[dependencies]
base32 = "0.3.1"
clap = "2.31.2"
image = "0.19.0"
quirc = "0.0.1"
oath = "0.10.2"
url = "1.7.0"
